@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css";

.Container {
    width: 30rem;
    text-align: left;
    margin: 2rem;
}
    
.Form {
    text-align: center;
}

.Header {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.mb-3 {
    display:flex;
}

.ShowButton {
    width: 3rem;
}

.SwitchLoginCreateGroup {  
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.SubmitButton {
    width: 80%;
    margin-top: 1rem;
}