.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .skills-icons li {
    list-style: none;
    text-align: center;
    position: relative;
    margin: 20px;
  }
  
  .skills-icons li span {
    display: inline-block;
    transition: all .5s ease;
  }
  
  .skills-icons li:hover span {
    transform: translateY(-10px);
  }
  
  .skills-icons li span.iconify-icon {
    font-size: 90px;
    margin-bottom: 10px;
  }
  
  .skills-icons li span.iconify-icon {
    font-size: 90px;
    margin-bottom: 10px;
    padding-bottom: 10px; 
  }
  
  .skills-icons li span.label {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px; 
    opacity: 0;
    transition: all .5s ease;
  }
  
  .skills-icons li:hover span.label {
    bottom: -10px; 
    opacity: 1;
  }

  .skill-bx h2 {
	font-size: 45px;
	font-weight: 700;
    text-align: center;
}
  
  