.toggle {
    position: fixed;
    z-index: var(--zIndex4);
    transform: translate3d(0, 0, 0);
  }
  
  .toggle[data-mobile='true'] {
    top: unset;
    margin-top: 0;
    margin-right: 0;
  }
  
  @media (--mediaMobile), (--mediaMobileLS) {
    .toggle:not([data-mobile='true']) {
      display: none;
    }
  }
  
  .circle {
    fill: currentColor;
    transform: scale(0.6);
    transform-origin: center;
  }
  
  .circle[data-mask='true'] {
    fill: white;
  }
  
  body[data-theme='dark'] .circle {
    transform: none;
  }
  
  @media (--mediaUseMotion) {
    .circle {
      transition-property: transform, fill;
      transition-duration: var(--durationL);
      transition-delay: 0s;
      transition-timing-function: var(--bezierFastoutSlowin);
    }
    body[data-theme='dark'] .circle {
      transition-delay: 0.3s;
    }
  }
  
  .mask {
    fill: black;
    transform: translate3d(100%, -100%, 0);
  }
  
  body[data-theme='dark'] .mask {
    transform: none;
  }
  
  @media (--mediaUseMotion) {
    .mask {
      transition: transform var(--durationL) var(--bezierFastoutSlowin);
      transition-delay: 0s;
    }
    body[data-theme='dark'] .mask {
      transition-delay: 0.3s;
    }
  }
  
  .path {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-width: 3;
    stroke-dasharray: 7 7;
    stroke-dashoffset: 0;
    opacity: 1;
  }
  
  @media (--mediaUseMotion) {
    .path {
      transition-property: stroke-dashoffset, opacity;
      transition-duration: var(--durationL);
      transition-timing-function: var(--bezierFastoutSlowin);
      transition-delay: 0.3s;
    }
    body[data-theme='dark'] .path {
      stroke-dashoffset: 7;
      opacity: 0;
      transition-delay: 0s;
    }
  }
  